<form (submit)="save(data)">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-12">
        <h5>Create Engagement Runsheet</h5>

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label>Sales</label>
                  <input type="text" name="salesEmail" class="form-control" #email (change)="getProfile(email.value)" />
                  <span class="help-block">{{ getErrorValue('salesCode') }}</span>
                </div>

                <div class="form-group">
                  <label>Note</label>
                  <textarea name="note" rows="4" class="form-control" [(ngModel)]="data.note"></textarea>
                </div>
              </div>
            </div>

            <h6>Clients</h6>
            <hr/>
            <div class="row">

              <div class="col-12" *ngFor="let client of data.engagementRunsheetItems">
                <div class="description-block">
                  <label>CLIENT</label>
                  {{ client.prospectClientName }}
                  <br/> {{ client.prospectClientAddress }}
                  <br/> {{ client.prospectClientPhone }}
                </div>
              </div>

            </div>
            <button type="button" class="btn btn-default" (click)="openModalSearchProspectClients()">Add</button>
          </div>

          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<pre>{{ data | json }}</pre>

<ng-template #modalSearchProspectClient>
  <div class="modal-body">
    <div class="row">
      <div class="col-12" *ngFor="let client of prospectClients">
        {{ client | json }}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default">
      Cancel
    </button>
  </div>
</ng-template>