<form #form="ngForm" (submit)="save(data)">

  <div class="animated fadeIn">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <card-loader *ngIf="loading"></card-loader>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="form-group required">
                  <label>Sales</label>

                  <input type="email" name="salesName" class="form-control" [(ngModel)]="data.salesName" #salesName="ngModel" required />

                  <span class="help-block">{{ getErrorValue('salesCode') }}</span>
                </div>

                <div class="form-group">
                  <label>Note</label>
                  <textarea name="note" rows="4" class="form-control" [(ngModel)]="data.note"></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <h6>Clients
                  <button type="button" class="btn btn-sm btn-default float-right" (click)="openModalSearchProspectClients()">Add</button>
                </h6>
                <div class="clearfix"></div>
                <hr />
                <alert type="warning" *ngIf="data.engagementRunsheetItems.length == 0">
                  No clients has been added
                </alert>

                <table class="table table-bordered" *ngIf="data.engagementRunsheetItems.length > 0">
                  <tbody>
                    <tr *ngFor="let client of data.engagementRunsheetItems; let i = index;">
                      <td class="col-auto text-center">
                        <button type="button" class="btn btn-sm btn-link btn-block" [disabled]="i == 0" (click)="swap(i, i - 1)">
                          <i class="fa fa-chevron-up"></i>
                        </button>
                        <div class="text-muted font-weight-bold">{{ i + 1 }}</div>
                        <button type="button" class="btn btn-sm btn-link btn-block" [disabled]="i == data.engagementRunsheetItems.length - 1" (click)="swap(i, i + 1)">
                          <i class="fa fa-chevron-down"></i>
                        </button>
                      </td>
                      <td class="col">
                        <div class="close">
                          <a href="javascript:;" (click)="removeItem(client)">
                            &times;
                          </a>
                        </div>

                        <div class="row">
                          <div class="col-12 col-lg-8">
                            <div class="description-block">
                              <label>CLIENT</label>
                              {{ client.prospectClientName }}
                              <br/> {{ client.prospectClientAddress }}
                              <br/> {{ client.prospectClientPhone }}
                              <br/> {{ client.prospectClientEmail }}
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <button type="submit" class="btn btn-primary" [disabled]="form.form.invalid || data.engagementRunsheetItems.length <= 0">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>