<div class="row">
  <div class="col-12 col-lg-6">
    <div class="description-block">
      <label>CLIENT</label>
      {{ item.name }}
      <br/> {{ item.address }}
      <br/> {{ item.phone }}
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="description-block">
      <label>Engaged By</label>
      {{ item.salesEngagementName || '-' }}
    </div>

    <div class="description-block">
      <label>Managed By</label>
      {{ item.salesManagementName || '-' }}
    </div>
  </div>
  <div class="col-12 col-lg-2">
    <i class="fa" [ngClass]="{
        'fa-check text-success': item.isSuccess,
        'fa-times text-danger': !item.isSuccess
        }"></i> Complete
    <br/>
    <i class="fa" [ngClass]="{
          'fa-check text-success': item.isCompleted,
          'fa-times text-danger': !item.isCompleted
          }"></i> Success
  </div>
</div>