<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-8 col-xl-9">
              Prospect Clients
            </div>
            <div class="col-md-4 col-xl-3 ml-auto">
              <form (submit)="search()">
                <div class="form-group m-0">
                  <div class="input-group">
                    <input type="text" class="form-control" name="keyword" [(ngModel)]="pageQuery.keyword" autocomplete="off" placeholder="Search" />
                    <span class="input-group-append">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th style="width: 75px;" class="text-center">
                  <button class="btn btn-sm btn-primary" (click)="openModal(true)">
                    <i class="fa fa-plus"></i>
                  </button>
                </th>
                <th style="width: 175px;" class="text-center">Code</th>
                <th>Client</th>
                <th style="width: 100px;" class="text-center">Complete</th>
                <th style="width: 100px;" class="text-center">Success</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of prospectClients">
                <td class="text-center">
                  <div class="btn-group" dropdown>
                    <a dropdownToggle href="javascript:;" class="dropdown-toggle">
                      <span class="caret"></span>
                    </a>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem">
                        <a class="dropdown-item" href="javascript:;" (click)="openModal(false, client.code)">Detail</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="javascript:;" (click)="openModal(true, client.code)">Update</a>
                      </li>
                      <li class="divider dropdown-divider"></li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="javascript:;" (click)="setOpen(client.code)">Set Open</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="javascript:;" (click)="setClose(client.code)">Set Close</a>
                      </li>
                      <li class="divider dropdown-divider"></li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="javascript:;" (click)="delete(client)">Delete</a>
                      </li>
                    </ul>
                  </div>
                </td>
                <td class="text-center">
                  {{ client.code }}
                </td>
                <td>
                  {{ client.name }}
                  <br/> {{ client.address }}
                  <br/> {{ client.phone }}
                </td>
                <td class="text-center">
                  <i class="fa" [ngClass]="{
                      'fa-check text-success': client.isSuccess,
                      'fa-times text-danger': !client.isSuccess
                      }"></i>
                </td>
                <td class="text-center">
                  <i class="fa" [ngClass]="{
                      'fa-check text-success': client.isCompleted,
                      'fa-times text-danger': !client.isCompleted
                      }"></i>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <pagination class="pull-right" [maxSize]="5" [boundaryLinks]="true" [totalItems]="pageQuery.count" [itemsPerPage]="pageQuery.size" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>