<app-card-loader *ngIf="loading"></app-card-loader>

<div class="modal-header">
  <form (submit)="search()">
    <div class="form-group m-0">
      <div class="input-group">
        <input type="text" class="form-control" name="keyword" [(ngModel)]="pageQuery.keyword" autocomplete="off" placeholder="Search" />
        <span class="input-group-append">
          <button class="btn btn-default" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
  </form>
</div>

<div class="modal-body">
  <alert type="info" class="m-0" *ngIf="prospectClients.length == 0">
    No Data
  </alert>
  <table class="table" *ngIf="prospectClients.length > 0">
    <tr *ngFor="let client of prospectClients" (click)="selectClient(client)">
      <td>
        <app-prospect-clients-list-item [item]="client"></app-prospect-clients-list-item>
      </td>
    </tr>
  </table>
</div>

<div class="modal-footer" *ngIf="pageQuery.totalPage > 1">
  <pagination class="pull-right" [maxSize]="5" [boundaryLinks]="true" [totalItems]="pageQuery.count" [itemsPerPage]="pageQuery.size" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
</div>