<div class="animated fadeIn">
  <div class="card">
    <div class="card-header font-weight-bold text-muted text-uppercase">
      Active Tasks
    </div>
    <div class="card-body p-0">
      <div class="list-group list-group-accent">
        <a href="javascript:;" class="list-group-item  list-group-item-action" *ngFor="let item of items" (click)="openRealization(item)">
          <strong>{{ item.prospectClientName }}</strong>
          <p>{{ item.prospectClientAddress }}</p>
          <div class="text-muted">
            {{ item.prospectClientPhone }}
          </div>
          <div class="text-muted">
            {{ item.prospectClientEmail }}
          </div>
        </a>
        <div class="list-group-item bg-light text-center" *ngIf="pageQuery.totalPage > 1">
          <pager [totalItems]="pageQuery.count" [(ngModel)]="pageQuery.page" (pageChanged)="pageChanged($event)" pageBtnClass="btn" [itemsPerPage]="pageQuery.size" class="pull-right">
          </pager>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>