// Here you can add other styles
.main {
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.card-footer {
    > :not(:last-child) {
        margin-right: .25rem;
    }

    > :not(:first-child) {
        margin-left: .25rem;
    }
}

.description-block {
    display: block;
    margin-bottom: 1rem;

    label {
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        color:#222;
        font-size: smaller;
        margin-bottom: 0;
    }
}

.form-group.required label:after {
    content:"*";
    color:red;
  }

.loader {
    z-index: 1010;
    background: #FFFFFFDD;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    > .fa {
        font-size: 2rem;
    }
}